.ui.card.link
  = link_to staff, class: "image" do
    %img{src: staff.avatar.url(:thumbnail), class: ''}
  = link_to staff, class: "ui content" do
    = staff.name
    .description
      = staff.role
  = mail_to staff.email, class: 'ui bottom attached basic button' do
    %i.mail.icon
    Contact
