%main
  %section.subheader
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs
        %span 
          = @service.title
    .container
      .grid-row
        .section-info.two-thirds.column-shift
          %h1 
            = @service.group.title
          %p 
            = @service.group.tagline
        %nav.section-menu.one-fourth
          - @service.group.services.each do |service|
            = link_to(service.title, service, class: "menu-item-plain")
      / .grid-row
    / .container

%section.container
  %h1
    = @service.title
  .grid-row
    %aside.one-fourth
      %button.btn
        E-mail Us
        %span.lnr.lnr-arrow-right
    .two-thirds.column-shift
      = markdown @service.desc
