%main.service
  %section.subheader
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs(separator: "")
        %span
          = @service.title
    .container
      .grid-row
        .section-info.two-thirds
          %h1
            = @service.title
          %p
            = markdown @service.group.tagline

  %div.content-footer.pager-footer
    .previous-next-links
      = link_to(@service.group, class: 'next-link') do
        .container
          .pull-right
            %span.prev-next-text See other #{@service.group.title} Services
            %span.lnr.lnr-arrow-right
            %br

%section.container
  .grid-row
    %aside.one-fourth
      = mail_to 'data@mapc.org' do
        %button.ui.fluid.blue.button
          Contact Us
          %span.lnr.lnr-arrow-right
    .two-thirds.column-shift
      = markdown @service.desc

      %hr

      - if @service.tools.any?
        %h3
          Related Tools
        .grid-row
          = render partial: 'tools/tool', collection: @service.tools, as: :tool

      - if @service.projects.any?
        %h3
          Related Projects
        .grid-row
          = render partial: 'projects/project', collection: @service.projects, as: :project

      - if @service.datasets.any?
        %h3
          Related Datasets
        .grid-row
          .ui.two.stackable.cards
            = render partial: 'datasets/dataset', collection: @service.datasets, as: :dataset
