%main.service
  %section.subheader
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs(separator: "")
        %span
          = @service.title
    .container
      .grid-row
        .section-info.two-thirds
          %h1
            = @service.title
          %p
            = markdown @service.group.tagline

  %div.content-footer.pager-footer
    .previous-next-links
      = link_to(@service.group, class: 'next-link') do
        .container
          .pull-right
            %span.prev-next-text See other #{@service.group.title} Services
            %span.lnr.lnr-arrow-right
            %br

%section.container
  .grid-row
    %aside.one-fourth
      = link_to 'mailto:data@mapc.org' do
        %button.ui.fluid.blue.button
          Contact Us
          %span.lnr.lnr-arrow-right
    .two-thirds.column-shift
      = markdown @service.desc
      - if @service.tools.first 
        %h2
          Related Tools
        .grid-row
          - @service.tools.each do |tool|
            .post-excerpt.one-third
              = link_to tool do
                %img{alt: tool.title, src: tool.screenshot.url(:small_thumb)}
              %p.post-data
              %h3
                = link_to tool.title, tool
      - if @service.projects.first
        %h2
          Related Projects
        .grid-row
          - @service.projects.each do |project|
            .post-excerpt.one-third
              = link_to project do
                %img{alt: project.title, src: project.preview.url(:thumbnail)}
              %p.post-data
              %h3
                = link_to project.title, project
      - if @service.datasets.first 
        %h2
          Related Datasets
        .grid-row
          .ui.two.stackable.cards
            - @service.datasets.each do |dataset|
              = link_to dataset, class: ["ui","card", "tool"] do
                .card-splash-icon
                  %i{class: ["huge", "icon"] }
                .content
                  .header 
                    = dataset.name
                  .meta
                  .description
                    %p
                      = truncate(dataset.bio, length: 140)

