%main.service
  %section.subheader
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs(separator: "")
        %span 
          = @service.title
    .container
      .grid-row
        .section-info.two-thirds
          %h1 
            = @service.title
          %p 
            = markdown @service.group.tagline

  %div.content-footer.pager-footer
    .previous-next-links
      = link_to(@service.group, class: "next-link") do
        .container
          .pull-right
            %span.prev-next-text See other #{@service.group.title} Services
            %span.lnr.lnr-arrow-right
            %br

%section.container
  .grid-row
    %aside.one-fourth
      = link_to "mailto:data@mapc.org" do
        %button.ui.fluid.button.positive
          Work with us
          %span.lnr.lnr-arrow-right
    .two-thirds.column-shift
      = markdown @service.desc

