%footer.site-footer{:role => "contentinfo"}
  .container
    %h4 Get In Touch
    .grid-row
      .one-fourth
        E-mail: 
        %a{href: 'mailto:data@mapc.org'}
          data@mapc.org
        %br
        Phone: (617) 933-0700
        %br
        Fax: (617) 482-7185
      .one-fourth.column-shift
        %strong 
          = link_to("View our staff directory", staffs_path) 
        %br
          You may our team by e-mail or phone. 
      .one-fourth.column-shift
        %strong Provide Feedback
        %br
          We invite you to leave comments about our Web site.
    %hr
      %h4 Our Funders
      .grid-row
        %img{src: '/img/BIP_2015_white.png', class: "funder-logo"}
        %img{src: '/img/boston-foundation-white.png', class: "funder-logo"}
        %img{src: '/img/living_cities.png', class: "funder-logo"}
        %img{src: '/img/Knight-Foundation.png', class: "funder-logo"}
    %hr
      %h4 Data Services
      .grid-row
        %ul.footer-links.list-no-style.one-third
          %li
            = link_to("Our Work", projects_path)
          %li
            = link_to("Services Directory", "#section-1")
        %ul.footer-links.list-no-style.one-third
          %li
            = link_to("Flagship Datasets", datasets_path)
          %li
            = link_to("Staff Directory", about_path)
        %ul.footer-links.list-no-style.one-third
          %li
            = link_to("Data Tools", tools_path)
          %li
            %a{:href => "http://medium.com/dataservicesblog", target: "_blank"} Department Blog
      %hr
        .footer-omega
          .one-third.right.column-last
            %small &copy; 2016 Metropolitan Area Planning Council
          %a.logo-wrap{:href => "#"}
            %img.site-logo{:alt => "MAPC Data Services", :onerror => "this.src='{{ site.url }}/img/coo-logo-black.png'; this.onerror=null;", :src => "/img/mapc-color.png"}/
%span.js-media-query-med
