%footer.site-footer{role: 'contentinfo'}
  .container
    %h4 Get In Touch
    .grid-row
      .one-fourth
        Email:
        = mail_to 'data@mapc.org'
        %br
        Phone:
        %a{ href: 'tel:6179330700' }
          (617) 933-0700
      .one-fourth.column-shift
        %strong
          = link_to 'Meet our team.', about_path
      -# .one-fourth.column-shift
      -#   %strong Provide Feedback
      -#   %br
      -#     We invite you to leave comments about our Web site.
    %hr
      %h4 Our Funders
      .grid-row
        %ul.footer-links.list-no-style.one-third
          %li
            = link_to 'http://bostonindicators.org' do
              = image_tag '/img/BIP_2015_white.png', class: 'funder-logo'
          %li
            = link_to 'http://tbf.org' do
              = image_tag '/img/boston-foundation-white.png', class: 'funder-logo'
        %ul.footer-links.list-no-style.one-third
          %li
            = link_to 'http://livingcities.org' do
              = image_tag '/img/living_cities.png', class: 'funder-logo'
          %li
            = link_to 'http://knightfoundation.org' do
              = image_tag '/img/Knight-Foundation.png', class: 'funder-logo'
        %ul.footer-links.list-no-style.one-third
          %li
            = link_to 'http://barrfoundation.org' do
              = image_tag '/img/barr_logo.jpg', class: 'funder-logo'
      %hr
        .footer-omega
          .two-thirds.right.column-last
            = link_to 'http://mapc.org', target: '_blank' do
              %small &copy; #{ Time.current.year } Metropolitan Area Planning Council
          %a.logo-wrap{href: 'http://mapc.org', target: '_blank'}
            %img.site-logo{alt: 'MAPC Data Services', onerror: "this.src='{{ site.url }}/img/coo-logo-black.png'; this.onerror=null;", src: '/img/mapc-color.png'}/
%span.js-media-query-med
