%footer.site-footer{role: 'contentinfo'}
  .container
    %h4 Get In Touch
    .grid-row
      .one-fourth
        E-mail:
        %a{href: 'mailto:data@mapc.org'} data@mapc.org
        %br
        %a{href: 'tel:6179330700'}
          Phone: (617) 933-0700
      .one-fourth.column-shift
        %strong
          = link_to 'View our staff directory', staffs_path
      .one-fourth.column-shift
        %strong Provide Feedback
        %br
          We invite you to leave comments about our Web site.
    %hr
      %h4 Our Funders
      .grid-row
        %a{href: 'http://bostonindicators.org'}
          %img.funder-logo{src: '/img/BIP_2015_white.png'         }
        %a{href: 'http://tbf.org'}
          %img.funder-logo{src: '/img/boston-foundation-white.png'}
        %a{href: 'http://livingcities.org'}
          %img.funder-logo{src: '/img/living_cities.png'          }
        %a{href: 'http://knightfoundation.org'}
          %img.funder-logo{src: '/img/Knight-Foundation.png'      }
        %a{href: 'http://barrfoundation.org'}
          %img.funder-logo{src: '/img/barr_logo.jpg'              }
    %hr
      %h4 Data Services
      .grid-row
        %ul.footer-links.list-no-style.one-third
          %li= link_to 'Our Work', projects_path
          %li= link_to 'Services Directory', "#section-1"

        %ul.footer-links.list-no-style.one-third
          %li= link_to 'Flagship Datasets', datasets_path
          %li= link_to 'Staff Directory', about_path

        %ul.footer-links.list-no-style.one-third
          %li= link_to 'Data Tools', tools_path
          %li
            %a{href: 'http://medium.com/dataservicesblog', target: '_blank'}
              Department Blog
      %hr
        .footer-omega
          .one-third.right.column-last
            %small &copy; #{ Time.current.year } Metropolitan Area Planning Council
          %a.logo-wrap{href: '#'}
            %img.site-logo{alt: 'MAPC Data Services', onerror: "this.src='{{ site.url }}/img/coo-logo-black.png'; this.onerror=null;", src: '/img/mapc-color.png'}/
%span.js-media-query-med
