.sticky-menu
  .header-wrap
    .container
      %header.page-header{role: 'banner'}
        .multi-logo-wrap
          %a.site-logo-wrap{href: 'http://mapc.org', target: '_blank'}
            %img.site-logo.logo-black{alt: 'MAPC Data Services', onerror: "this.src='{{ site.url }}/img/coo-logo-black.png'; this.onerror=null;", src: "/img/mapc-color.png"}/
          %h1.dept-title
            %a{href: '/'}
              Data Services
        .header-actions
          %a.header-nav-button.navicon-button.x{href: '#'}
            -# .navicon

.sticky-placeholder
.global-navigation-wrap.clearfix
  %nav.global-navigation{role: 'navigation'}
    .site-logo-wrap
      %img.site-logo.logo-white{alt: 'MAPC Data Services', src: '/img/mapc-white.png'}/
      %a.header-nav-button.navicon-button.x.open{href: '#'}
        .navicon
    %form.header-search.mobile-search{action: '', method: 'get', role: 'search'}
      %label
        %input{placeholder: 'How can we help?', title: 'Search for:', type: 'text'}
      %span.lnr.lnr-magnifier.search-icon
    %ul.top-level-menu.nav-menu
      %li
        %a.menu-item.sub-menu-toggle{href: '#'}
          %strong Data Services
        %ul.nav-sub-menu.nav-menu
          %li= link_to 'Our Work',           projects_path, class: 'menu-item'
          %li= link_to 'Services Directory', "#section-1",  class: 'menu-item'
          %li= link_to 'Flagship Datasets',  datasets_path, class: 'menu-item'
          %li= link_to 'Staff Directory',    about_path,    class: 'menu-item'
          %li= link_to 'Data Tools',         tools_path,    class: 'menu-item'
          %li= link_to 'Flagship Datasets',  datasets_path, class: 'menu-item'
          %li
            %a{:href => "http://medium.com/dataservicesblog", target: "_blank", class: "menu-item"}
              Department Blog
    %ul.top-level-menu.nav-menu
      %li
        %a.menu-item.sub-menu-toggle{href: '#'}
          %strong General
        %ul.nav-sub-menu.nav-menu
          %li
            %a.menu-item{href: ''} Get Involved
          %li
            %a.menu-item{href: ''} Departments
          %li
            %a.menu-item{href: ''} Announcements
