/ .flash.flash-alert
/   .container
/     %span.flash-type High Alert
/     %span.flash-text Flash message goes here
/     %a{:href => "#"} Read more


%section.subheader.welcome
  #map
  :javascript
    var map = L.map('map', { scrollWheelZoom: false });
    map.setView([42.331096, -71.376930], 11);
    L.tileLayer('https://api.mapbox.com/styles/v1/mgardner/ciperahix0024b7nf26hl4abr/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWdhcmRuZXIiLCJhIjoiY2lwZWtnejEwMDAxNnRzbmw3dXExOTdjbiJ9.n35D_OrXIO-ZIXB0JCTSbA', {
      attribution: 'MapBox',
      maxZoom: 18,
      subdomains: ''
    }).addTo(map);
    map.dragging.disable();

  .reset-position
    .container
      .grid-row
        .section-info.two-thirds
          %h1 Welcome to Data Services
          %p
            We use data and technology to drive informed decision-making across
            the Metro Boston region.
          %p
            We are part of the
            %a{href: 'http://mapc.org/'}
              Metropolitan Area Planning Council
            in Boston, MA.
        %nav.section-menu.one-third
          = link_to 'Services', '#section-1', class: 'menu-item'
          = link_to 'Our Work', '#section-2', class: 'menu-item'
          = link_to 'Tools', tools_path,      class: 'menu-item-plain'

          = link_to 'Data',  datasets_path,   class: 'menu-item-plain'
          = link_to 'News',  '#section-3',    class: 'menu-item'
          = link_to 'About', about_path,      class: 'menu-item-plain'
.main-overlay
%section#section-1.section
  .container
    %h2 Services
    .grid-row
      %nav.big-menu
        - @groups.each do |group|
          .menu-item
            %a{href: "#"}
              %h3
                = group.title
              %p
                = group.tagline
              %p
                =link_to("Learn More »", group, class: "menu-group-link")
            .big-menu-group.grid-row
              - group.services.each do |service|
                = link_to(service, class: 'one-third') do
                  = service.title

%section#section-2.section
  .container
    = link_to projects_path do
      %h2
        Work
    .grid-row
      - @projects.each do |project|
        .post-excerpt.one-third
          = link_to project do
            %img{alt: project.title, src: project.preview.url(:thumbnail)}
          %p.post-data
          %h3
            = link_to project.title, project

      .post-excerpt.one-third
        =link_to projects_path do
          %div.view-more-box
            View All »

%section#section-3.section{ data: { 'no-turbolink': true } }
  .container
    %h2
      Blog Posts
    .grid-row
      .two-thirds#feed
        #loadingDiv
          %img{ src: '/img/loading.gif' }
      %aside.one-third
        %h4.aside-title More Posts
        %ul.list-no-style#feed-aside
