/ .flash.flash-alert
/   .container
/     %span.flash-type High Alert
/     %span.flash-text Flash message goes here
/     %a{:href => "#"} Read more


%section.subheader.welcome
  #map
  :javascript
    var map = L.map('map', { scrollWheelZoom: false });
    map.setView([42.331096, -71.376930], 11);
    L.tileLayer('https://api.mapbox.com/styles/v1/mgardner/ciperahix0024b7nf26hl4abr/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWdhcmRuZXIiLCJhIjoiY2lwZWtnejEwMDAxNnRzbmw3dXExOTdjbiJ9.n35D_OrXIO-ZIXB0JCTSbA', {
      attribution: 'MapBox',
      maxZoom: 18,
      subdomains: ''
    }).addTo(map);

  .reset-position
    .container
      .grid-row
        .section-info.two-thirds
          %h1 Welcome to Data Services
          %p Using data and technology to drive informed decisionmaking across the region
        %nav.section-menu.one-third
          %a.menu-item{:href => "#section-1"} Services
          %a.menu-item{:href => "#section-2"} Our Work
          %a.menu-item{:href => "#section-3"} News
          =link_to("Tools", tools_path, class: "menu-item-plain")
          =link_to("Data", datasets_path, class: "menu-item-plain")
          =link_to("About", about_path, class: "menu-item-plain")
.main-overlay
%section#section-1.section
  .container
    %h2 Services
    .grid-row
      %nav.big-menu
        - @groups.each do |group|
          .menu-item
            %a{:href => "#"}
              %h3
                = group.title
              %p
                = group.tagline
            .big-menu-group.grid-row
              - group.services.each do |service|
                = link_to(service, class: "one-third") do
                  = service.title

%section#section-2.section
  .container
    = link_to(projects_path) do
      %h2
        Our Work
    .grid-row
      - @projects.each do |project|
        .post-excerpt.one-third
          = link_to project do
            %img{:alt => "", :src => project.preview.url(:thumbnail)} 
          %p.post-data
          %h3
            = link_to(project.title, project)

%section#section-3.section{data: {"no-turbolink": true }}
  .container
    %h2
      News
    .grid-row
      .two-thirds#feed
        #loadingDiv
          %img{:src=> "/img/loading.gif"}
      %aside.one-third
        %h4.aside-title Other News
        %ul.list-no-style#feed-aside
