%main.projects
  %section.subheader{style: "background-image: url(#{@project.preview.url})"}
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs(separator: '')
        %span
          = @project.title

  %section.container
    %h1
      = @project.title
    .grid-row
      %aside.one-fourth
        %a{href: "mailto:contact@mapc.org"}
          %button.ui.fluid.blue.button
            Contact Us
            %span.lnr.lnr-arrow-right
      .two-thirds.column-shift
        = markdown @project.body
