%main.projects
  %section.subheader{style: "background-image: url(#{@project.preview.url})"}
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs(separator: '')
        %span
          = @project.title

  %section.container
    %h1
      = @project.title
    .grid-row
      %aside.one-fourth
        = mail_to 'data@mapc.org' do
          %button.ui.fluid.button.primary
            Work with us
            %span.lnr.lnr-arrow-right
        %br
        - if @project.dataset || @project.tool
          %h4
            Related
        %ul
          - if @project.dataset
            %li
              Dataset:
              = link_to @project.dataset.name, @project.dataset.download
          - if @project.tool
            %li
              Tool:
              = link_to @project.tool.title, @project.tool
      .two-thirds.column-shift
        = markdown @project.body
