%main.tools
  .main-overlay
  %section.subheader
    .splash-icon
      %i.users.huge.icon.bio-popup{data: { html: 'test'} }
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs
        %span About Us
    .container
      .grid-row
        .section-info.two-thirds
          %h1 About Us
          %p
            %em Data Services
            is a department within the Metropolitan Area Planning Council, a regional planning agency serving the people who live and work in the 101 cities and towns of Metropolitan Boston.
  %section
    .container
      %h1 Our Mission

      %p
        We support the agency's planning work by providing data, maps, analysis, and original research.

      %p
        We utilize information, technology, and local knowledge to create relevant and effective data, maps, and decision support tools. Our customers include other MAPC departments, municipalities, state agencies, and nonprofit organizations.

      %p
        We advocate for the democratization of information -- the collection and dissemination of accurate data about the region and the Commonwealth.

      .ui.horizontal.divider

      %h1 Our Team
      %p
        Data Services is organized into three expertise groups: Research, Analytical, and Digital.
      %p
        Our staff members include GIS analysts, regional planners, researchers, and web developers.

      - @staff.keys.each do |group|
        .h3
          = group
        .ui.four.stackable.cards
          - @staff[group].each do |staff|
            .card{"data-html": "<div class='content'>#{markdown staff.bio}</div>", "data-position": "top center", class: ("bio-popup" unless staff.bio.empty? )}
              .image
                %img{src: staff.avatar.url(:thumbnail), class: ""}
              .content
                = staff.name
                .meta
                  = link_to staff.role, "mailto: #{staff.email}"
      .ui.horizontal.divider
      %h1 We're hiring!
      %p The Metropolitan Area Planning Council (MAPC) is a regional planning agency serving the people who live and work in the 101 cities and towns in Metropolitan Boston.
      %p We welcome to our team intelligent, thoughtful and entrepreneurial professionals who are committed to improving the quality of life in Metropolitan Boston.
      =link_to("Search Job Listings", "http://agency.governmentjobs.com/mapc/default.cfm", target: "_blank")
      %br
      %br
