<!doctype html>
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    %title
      Data Services
    = csrf_meta_tags
    %link{:href => "//cdn.linearicons.com/free/1.0.0/icon-font.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

  %body
    = render "shared/header"  
    = yield
    = render "shared/footer"
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  / = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js'  
